<template>
    <div class="company">
        <h2>AS SEEN IN</h2>
        <div class="brands">
            <div class="names">
                <v-lazy-image :src="zencash" :src-placeholder="zencash" alt="test"/>
            </div>
            <div class="names">
                <v-lazy-image :src="dragonchain" :src-placeholder="zencash" alt="test"/>
            </div>
            <div class="names">
                <v-lazy-image :src="vuamsterdam" :src-placeholder="zencash" alt="test"/>
            </div>
            <div class="names">
                <v-lazy-image :src="golem" :src-placeholder="zencash" alt="test"/>
            </div>
            <div class="names">
                <v-lazy-image :src="tesla" :src-placeholder="zencash" alt="test"/>
            </div>
        </div>
    </div>
</template>

<script>


export default {
    data(){
        return {
            zencash:require("@/assets/Images/zencash.png"),
            dragonchain:require("@/assets/Images/DragonChain.png"),
            vuamsterdam:require("@/assets/Images/vuamsterdam.png" ),
            golem:require("@/assets/Images/golem.png"),
            tesla:require("@/assets/Images/Tesla.png")
        }
    }
    // components: {
    //     'SeenChild': SeenChild
    // },
    // mounted() {
    //         this.brands = [
    //             {
    //                 image:require('./zencash.png'),
    //             },
    //             {
    //                 image:require('./DragonChain.png'),
    //             },
    //             {
    //                 image:require('./vuamsterdam.png'),
    //             },
    //             {
    //                 image:require('./golem.png'),
    //             },
    //             {
    //                 image:require('./Tesla.png'),
    //             },

    //         ]
    //     }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../../assets/Fonts/ProductSansRegular.ttf");
  }
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
  
  
  
.company {
    padding-top:35px;
}
h2 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: HelveticaNeueBlackCond;
}
.brands {
    width:80%;
    margin:0 auto;
}
.brands::after {
    content:'';
    display:table;
    clear:both;
}

.names img {
    width:100%;
}
@media only screen and (min-width:300px){
    .names {
    float:none;
    width:fit-content;
    margin:0 95px;
    padding-bottom:25px;
    }
}
@media only screen and (min-width:768px){
    .names {
    float: left;
    width:10%;
    margin:0 30px;
    padding-bottom:0px;
    }
}
@media only screen and (min-width:1024px){
    .names {
    float: left;
    width:8%;
    margin:0 46px;
    padding-bottom:0px;
    }
}
@media only screen and (min-width:1200px){
    .names {
    float: left;
    width:8%;
    margin:0 6%;
    padding-bottom:0px;
    }
}
@media only screen and (min-width:1400px){
    .names {
    float: left;
    width:8%;
    margin:0 6%;
    padding-bottom:0px;
    }
}
</style>
