<template>
  <div class="ft-container">
    <div class="featured-carousel" :id="`featured-carousel`">
      <div class="slides" v-for="(src,key) in contents" :key="key">
          <div class="hero" :style="{
              'background-image': `url(${src.path})`,
              'background-size':'cover',
              'background-position': 'center',
              'border-radius': '10px',
              'background-repeat': 'no-repeat',
              'position': 'relative',
              'width': '100%',
          }">
            <div class="text">
                <h1>{{src.content.heading}}</h1>
                <p>{{src.content.para}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { tns } from 'tiny-slider/src/tiny-slider.module';

export default {
  name: 'FeaturedCarousel',
  data () {
    return {
      contents: [
          {
           path: require('@/assets/Images/slider3new.webp'),
           content: {
               heading: 'The Independent Film Collective',
               para: 'NuCinema is the content production and online distribution platform for independent film makers'
           }
          },
          {
           path: require('@/assets/Images/slider1new.webp'),
           content: {
               heading: 'Efficient Content Production',
               para: 'Efficient and transparent Idea curation, production, post production and distribution setup for independent creators'
           }
          },
          {
           path: require('@/assets/Images/slider2new.webp'),
           content: {
               heading: 'Global Content Distribution',
               para: 'NuCinema content delivery platform to deliver content to viewers globally'
           }
          }
      ],
    };
  },
  created () {  
    //
    this.fetchCardHeight();
    
  },
  mounted () {
      this.renderCorousel()
  },
  methods: {
    renderCorousel () {
        this.slider = tns({
                  container: `#featured-carousel`,
                  autoplay: true,
                  autoplayHoverPause: true,
                  autoplayButtonOutput: false,
                  autoHeight: true,
                  freezable: false,
                  loop: true,
                  rewind: false,                  
                  controls: false,
                  nav: false,
                  responsive: {
                    1200: {
                      items: 1,
                      gutter: 15,
                      edgePadding: 115,
                    },
                    1024: {
                      items: 1,
                      gutter: 15,
                      edgePadding: 95,
                    },
                    768: {
                      items:1,
                      gutter:5,
                      edgePadding: 85,
                    },
                    300: {
                      items:1,
                      gutter:3,
                      edgePadding:40,
                    }
                  }
                  
                });
    },
    fetchCardHeight () {
      let bodyWidth = document.body.offsetWidth - 400;
      let cardHeight = Math.round(bodyWidth / (16/9));
      if (cardHeight) {
        this.cardHeight = cardHeight + 10;
      }
    }
  }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../assets/Fonts/ProductSansRegular.ttf");
  }
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
  p {
  font-family: ProductSansRegular;
  }
img {
    border-radius:10px;
}
h1{
    color:white;
    margin-bottom:3px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #000000;
    font-family: HelveticaNeueBlackCond; 
}
p{
    color:white;
}
@media screen and (min-width: 300px){
  .ft-container{
    min-height:250px;
    padding-top: 80px;
  }
  .hero {
    height:250px;
  }
  .slides {
    height:250px;
  }
  .text{
      position:absolute;
      top:5%;
      left:7%;
  }
  h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px){
  .ft-container{
    min-height:200px;
    padding-top: 80px;
  }
  .hero {
    height:400px;
  }
  .slides {
    height:400px;
  }
  .text{
      position:absolute;
      top:25%;
      left:7%;
  }
  h1 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px){
  .ft-container {
    padding-top: 80px;
    min-height:500px;
    max-width: 1500px;
    margin:0 auto;
  }
  .hero {
    height:500px
  }
  .slides {
    height:500px;
  }
  .text{
    position:absolute;
    top:35%;
    left:7%;
  }
  h1 {
    font-size: 50px;
  }
}

</style>

