<template>
    <div>
        <navbar></navbar>
    </div>
</template>

<script>
import navbar from './navbar'

export default {
    data(){
        return {

        }
    },
    components: {
        'navbar': navbar
    }
}
</script>
