<template>
<div class="header-navbar">
    <div class="container">
      <a href="#">
        <div class="column title" id="main">
          <div class="image">
            <img src="@/assets/Images/Logo-1.png" alt="test">
          </div>
          <div class="name">
            <p><span>NU</span>CINEMA</p>
          </div>
        </div>
      </a>
      <div class="bars">
          <i class="fa fa-bars" @click="resize" :class="[hide]" id="nav-icon"></i>
      </div>
      <div class="menu">
          <a :class="[active]" v-show="isShow" v-for="i in arr" :key="i.name" :href="i.link">{{i.name}}</a>
      </div>
      </div>
</div>
</template>

<script>
import { eventBus } from '@/main'

export default {
  data(){
    return {
      arr: [],
      isShow: false,
      hide: 'hide',
      active: 'active'
    }
  },
  methods: {
    resize() {
      console.log("window.screen.width",window.screen.width );
      if( window.screen.width <= 1024) {
        this.isShow = !this.isShow;
      }
      else {
        this.isShow = true;
      }
    },
    closeMenu(data) {
            console.log("closed", data)
                this.isShow = data;
        }
  },
  mounted() {
    this.arr = [
      {name: "WHAT IS NUCINEMA", link: "#nucinema"},
      {name: "HOW IT WORKS", link: "#working"},
      {name: "WHITEPAPER", link: "#"},
      {name: "TEAM", link: "#team"},
      {name: "CONTACT", link: "#contact"}
    ];  
  },
  created(){
    eventBus.$on("closeitems", this.closeMenu);
  }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../assets/Fonts/ProductSansRegular.ttf");
  }
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
  @font-face {
    font-family: GothamRoundedBold;
    src: url("../../assets/Fonts/GothamRoundedBold_21016.ttf");
  }
  p {
  font-family: ProductSansRegular;
  }
  h2 {
  font-family: HelveticaNeueBlackCond; 
  }
.header-navbar {
    position:fixed;
    top:0%;
    width:100%;
    background-color:white;
    z-index:1000;
    box-shadow: 0 8px 6px -6px lightgray;
}
.menu a {
  text-decoration: none;
  font-size:11px;

  font-family: ProductSansRegular;
  letter-spacing: 0.39px;
}

p{
  font-size:small;
  float:left;
  color:black;
  font-family: GothamRoundedBold;
}
img {
  width:44px;
}
.name {
    padding:5px 0 0 10px;
}
span{
  color:red;
}
.title {
  display:flex;
  width:20%;
}
.column {
    float: left;
}
.container {
    width:83%;
    max-width: 1261px;
    margin:0 auto;
    padding:9px 0;
    position:relative;
}
.container::after {
    content:'';
    display:table;
    clear: both;
}

@media only screen and (min-width:180px){
  .bars {
    position: absolute;
    right: 4%;
    top: 37%;
  }
  .menu {
    position: absolute;
    right: 4%;
    top: 65%;
    background: gray;
    text-align: end;
  }
  .title {
      position:relative;
      left:0px;
  }
  .hide {
    display:initial;
  }
  .active {
    display:block;
  }
  .menu a {
    padding:7px 9px;
    color:aliceblue;
  }
  .menu a:hover {
    color:white;
  }
}
@media only screen and (min-width:768px){
  .bars {
    position: absolute;
    right: 4%;
    top: 37%;
  }
  .menu {
    position: absolute;
    right: 4%;
    top: 65%;
    background: gray;
    text-align: end;
  }
  .title {
      position:relative;
      left:15px;
  }
  .hide {
    display:initial;
  }
  .active {
    display:block;
  }
  .menu a {
    padding:7px 9px;
    color:aliceblue;
  }
  .menu a:hover {
    color:white;
  }
}
@media only screen and (min-width:1024px){
  .bars {
    position: absolute;
    right: 1%;
    top: 37%;
  }
  .menu {
    position: absolute;
    right: 4%;
    top: 65%;
    background: gray;
    text-align: end;
  }
  .title {
      position:relative;
      left:0px;
  }
  .hide {
    display:initial;
  }
  .active {
    display:block;
  }
  .menu a {
    padding:7px 9px;
    color:aliceblue
  }
  .menu a:hover {
  color:white;
}
}
@media only screen and (min-width:1200px){
  .menu {
    position: absolute;
    right: -2%;
    top: 37%;
    background-color:white;
  }
  .title {
      position:relative;
      left:0px;
  }
  .hide {
    display:none;
  }
  .active {
    display:initial !important;
  }
  .menu a {
    padding:0 28px;
    color:darkgray;
  }
  .menu a:hover {
  color:gray;
  }
}

</style>
