<template>
    <div class="advisors">
        <h2>MEET OUR ADVISORS</h2>
        <div class="people">
            <div class="person">
            <div class="cards">
                <div class="image">
                    <v-lazy-image :src="adoor" :src-placeholder="beena" alt="test"/>
                </div>
                <div class="details">
                    <p id="name"><b>ADOOR GOPALAKRISHNAN</b></p>
                    <p id="occupation">Director</p>
                </div>
            </div>
            </div>
            <div class="person">
            <div class="cards">
                <div class="image">
                    <v-lazy-image :src="beena" :src-placeholder="beena" alt="test"/>
                </div>
                <div class="details">
                    <p id="name"><b>BEENA PAUL</b></p>
                    <p id="occupation">IIFK Director</p>
                </div>
            </div>
            </div>
            <div class="person">
            <div class="cards">
                <div class="image">
                    <v-lazy-image :src="anurag" :src-placeholder="beena" alt="test"/>
                </div>
                <div class="details">
                    <p id="name"><b>ANURAG KASHYAP</b></p>
                    <p id="occupation">Acclaimed Film Maker</p>
                </div>
            </div>
            </div>
            <div class="person">
            <div class="cards">
                <div class="image">
                    <v-lazy-image :src="dynal" :src-placeholder="beena" alt="test"/>
                </div>
                <div class="details">
                    <p id="name"><b>DYNAL PATEL</b></p>
                    <p id="occupation">Investor</p>
                </div>
            </div>
            </div>
        </div>     
    </div>
</template>

<script>


export default {
    data(){
        return {
            adoor:require("@/assets/Images/adoor.jpg" ),
            beena:require("@/assets/Images/BeenaPaul.webp" ),
            anurag:require("@/assets/Images/AnuragKashyap.webp"),
            dynal:require("@/assets/Images/DynalPatel.webp")
        }
    }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../../assets/Fonts/ProductSansRegular.ttf");
  }
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
  p {
  font-family: ProductSansRegular;
  }
.advisors {
    padding-top:35px;
    width:100%;
}
h2 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: HelveticaNeueBlackCond; 
}
.people {
    width:80%;
    margin:0 auto;
}
.people::after {
    content:'';
    display:table;
    clear:both;
}

.cards {
    padding:15px 0 5px 0;
}
.cards:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
}
.image {
    width:65%;
    margin:0 auto;
}
.image img {
    border-radius:100%;
    width:100%;
}
.details {
    width:81%;
    margin:0 auto;
    text-align: center;
}
#name {
    color:#4A4A4A;
    font-size:13px;
}
#occupation {
    color:#4a4a4a9c;
    font-size:13px;
}
@media only screen and (min-width:300px){
    .person {
        padding:0 50px;
        min-height:150px;
    }
}
@media only screen and (min-width:768px){
    .person {
        float: left;
        width:25%;
        padding:0 0px;
        min-height:220px;
    }
}
@media only screen and (min-width:1024px){
    .person {
        float: left;
        width:25%;
        padding:0 0px;
        min-height:240px;
    }
}
@media only screen and (min-width:1200px){
    .person {
        float: left;
        width:21%;
        padding:0 2%;
        min-height:240px;
    }
}
@media only screen and (min-width:1400px){
    .person {
        float: left;
        width:21%;
        padding:0 2%;
        min-height:240px;
    }
}
</style>
