<template>
    <div class="body1">
        <Nucinema></Nucinema>
        <HowItWorks></HowItWorks>
        <Gradient></Gradient>
        <ContentParent></ContentParent>
    </div>
</template>

<script>
import Nucinema from './Nucinema.vue'
import Gradient from './Gradient.vue'
import HowItWorks from './Working/HowItWorks.vue'
import ContentParent from './Content/ContentParent.vue'
export default {
    data()  {
        return {

        }
    },
    components: {
        'Nucinema': Nucinema,
        'HowItWorks': HowItWorks,
        'Gradient': Gradient,
        'ContentParent': ContentParent
    }
}
</script>

<style scoped>
.body1 {
    position:relative;
    overflow-x:hidden;
    max-width:1500px;
    margin:0 auto;
}
</style>
