<template>
    <div class="gradient">

    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    }
}
</script>

<style scoped>
.gradient {
    position:absolute;
    background-image: linear-gradient(to bottom left,#fadce9,#fafafa);
    z-index: -1;
    top:35%;
    height:400px;
    transform: rotate(-20deg);
}
@media only screen and (min-width:300px){
    .gradient {
        width:155%;
        margin:0 -25%;
    }
}
@media only screen and (min-width:768px){
    .gradient {
        width:126%;
        margin:0 -13%;
    }
}
@media only screen and (min-width:1024px){
    .gradient {
        width:125%;
        margin:0 -12%;
    }
}
@media only screen and (min-width:1200px){
    .gradient {
        width:125%;
        margin:0 -10%;
    }
}
</style>
