<template>
    <div class="nucinema-body" id="nucinema">
        <div class="header">
           <h2>WHAT IS NUCINEMA?</h2>
        </div>    
        <div class="content">
            <div class="image">
                <div class="image1">
                    <v-lazy-image :src="image1" :src-placeholder="image1" alt="test"/>
                </div>
                <div class="image2">
                    <v-lazy-image :src="image2" :src-placeholder="image2" alt="test"/>
                </div>
            </div>
            <div class="description">
              <p>NuCinema is the content production and online distribution platform for independent film makers.NuCinema is born of the conviction 
                  that the current film production and distribution system determines and limits the possibilities of cinema.On the production side, 
                  NuCinema will be streamlining the filmmaking process using optimal allocation of resources and reduction of overheads, 
                  thus driving cost efficiency.NuCinema’s streaming platform links creators with the discerning worldwide audience.</p>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data(){
        return {
            image1: require("@/assets/Images/Img1.webp"),
            image2: require("@/assets/Images/Img2.webp")
        }
    }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../assets/Fonts/ProductSansRegular.ttf");
  }
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
h2 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: HelveticaNeueBlackCond;
}
.content {
    width:82%;
    margin:0 auto;
}
.content::after {
    content:'';
    display:table;
    clear: both;
}

.description p {
    font-size:14px;
    color: #272727;
    letter-spacing: 0.29px;
    line-height: 31px;
    font-family: ProductSansRegular;
}
img {
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image1 img {
    width:100%;
}
.image2 img {
    width:100%;
}
@media only screen and (min-width: 300px){
    .nucinema-body {
    padding-top:50px;
    }
    .image {
    position:relative;
    padding-top:10px;
    }
    .image1 {
    width:100%;
    position: absolute;
    top: 17%;
    left: 6%;
    }
    .image2 {
    width:100%;
    padding:0px;
    }
    .description {
    padding-top: 55px;
    }
}
@media only screen and (min-width: 768px){
    .nucinema-body {
    padding-top:50px;
    }
    .image {
    position:relative;
    padding-top:10px;
    }
    .image1 {
    width:80%;
    position: absolute;
    top: 15%;
    left: 15%;
    }
    .image2 {
    width:80%;
    padding:0 43px;
    }
    .description {
    padding-top: 75px;
    }
}
@media only screen and (min-width: 1024px){
    .nucinema-body {
    padding-top:50px;
    }
    .image {
    position:relative;
    float: left;
    width:60%;
    padding-top:10px;
    }
    .image1 {
    width:80%;
    position: absolute;
    top: 15%;
    left: 10%;
    }
    .image2 {
    width:80%;
    padding:0px
    }
    .description {
    width:40%;
    float:left;
    padding-top: 0px;
    }
}
@media only screen and (min-width: 1200px){
    .nucinema-body {
    padding-top:50px;
    }
    .image {
    position:relative;
    float: left;
    width:60%;
    padding-top:10px;
    }
    .image1 {
    width:80%;
    position: absolute;
    top: 15%;
    left: 10%;
    }
    .image2 {
    width:80%;
    padding:0px;
    }
    .description {
    width:40%;
    float:left;
    padding-top: 65px;
    }
}
</style>
