<template>
    <div class="working" id="working">
        <div class="heading">
            <h2>THIS IS HOW IT WORKS</h2>
        </div>
        <div class="contents">
            <div class="columntab curation" @click="change(0)">
                <div class="container">
                    <div class="box">

                    </div>
                    <p>CURATION</p>
                </div>
            </div>
            <div class="columntab production margin" @click="change(1)">
                <div class="container">
                <div class="box">

                </div>
                <p>PRODUCTION</p>
                </div>
            </div>
            <div class="columntab postproduction margin" @click="change(2)">
                <div class="container">
                <div class="box">

                </div>
                <p>POST PRODUCTION</p>
                </div>
            </div>
            <div class="columntab distribution margin" @click="change(3)">
                <div class="container">
                <div class="box">

                </div>
                <p>DISTRIBUTION</p>
                </div>
            </div>
            <div class="columntab profitsharing margin" @click="change(4)">
                <div class="container">
                <div class="box">

                </div>
                <p>PROFIT SHARING</p>
                </div>
            </div>
        </div>
        <div class="dynamic" v-if="field">
            <div class="column1 description">
                <p>{{field.brief}}</p>
            </div>
            <div class="column1 dynamicImage">
                <v-lazy-image :src="field.src" :src-placeholder="image1" alt="test"/>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data(){
        return {
            image1: require("@/assets/Images/Img1.webp"),
            contents: [
                {
                    brief:'We will invite film makers to send their film projects at various stages of development to us.A panel of internationally acclaimed filmmakers will select projects for production and distribution through NuCinema platform.',
                    src:require('@/assets/Images/Img3.webp')
                },
                {
                    brief:'NuCinema will offer production support to selected film projects. This may include funding and support in terms of equipment, crew and production management.',
                    src:require('@/assets/Images/nu5.webp')
                },
                {
                    brief:'NuCinema will provide state-of- the-art post production and VFX facilities located in India to any filmmaker who would like to avail of this support.',
                    src:require('@/assets/Images/nu4.webp')
                },
                {
                    brief:'Selected films shall be promoted and streamed through NuCinema streaming platform on Pay Per View (PPV) basis. NuCinema will stream exclusive, original and carefully curated content of various genres and forms – feature length narratives, experimental films, documentaries, short films, web series etc.',
                    src:require('@/assets/Images/nu3.webp')
                },
                {
                    brief:'Film makers will get 70% of the profit, after the production and distribution costs break even. The share of profit retained by NuCinema will be used to run the distribution and production setup.',
                    src:require('@/assets/Images/nu2.webp')
                }
            ],
            field: null
        }
    },
    mounted () {
        this.change(0);
    },
    methods: {
        change(id){
            let divClicks = document.getElementsByClassName('columntab');
            if (divClicks.length > 0) {
            for (let i = 0; i < divClicks.length; i++) {
            divClicks[i].classList.remove('active');
            }
            divClicks[id].classList.add('active');
            }
            switch(id){
                case 0:
                console.log(0);
                this.field = this.contents[0]                
                break;
                case 1:
                console.log(1);
                this.field = this.contents[1]
                
                break;
                case 2:
                console.log(2);
                this.field = this.contents[2]

                break;
                case 3:
                console.log(3);
                this.field = this.contents[3]

                break;
                case 4:
                console.log(4);
                this.field = this.contents[4]
                
                break;
            }
        }
    }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../../assets/Fonts/ProductSansRegular.ttf");
  }
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
  
h2 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: HelveticaNeueBlackCond; 
}

.dynamic {
    width:83%;
    margin:0 auto;
    padding-top: 15px;
}
.dynamic::after {
    content:'';
    display:table;
    clear: both;
}
.contents::after {
    content:'';
    display:table;
    clear: both;
}
.columntab {
    min-height: 40px;
}
.columntab:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.active {
    min-height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.active .box {
    background-color:red;
}
.active p {
    color:black;
}
.box {
    width:25px;
    height:25px;
    background-color:#e0d8d7;
}
.container:hover > .box{
    background-color:red;
}
.container:hover > p{
    color:black;
}
.container {
    display:flex;
    padding:15px 15px 10px 20px;
}
p {
    font-size:13px;
    margin-top:5px;
    padding-left:12px;
    letter-spacing: 0.39px;
    color:#a69292;
    font-family: ProductSansRegular;
}
.description p {
    font-size:14px;
    color: #272727;
    letter-spacing: 0.29px;
    line-height: 31px;
}

.dynamicImage img{
    width:100%;
    border-radius:4px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width:300px){
    .working {
    padding-top:40px;
    }
    .contents {
        width:52%;
        margin:0 auto;
    }
    .columntab {
    float:none;
    margin-right: 0%;
    }
    .container {
    display:flex;
    padding:10px 15px 5px 10px;
    }
    .curation {
    margin-left:0%;
    }
    .active {
    float:none;
    }
    .column1 {
    float: none;
    }
    .description {
    width:100%;
    padding-top:10px;
    }
    .description p {
    min-height: 280px;
    }
    .dynamicImage {
    width:100%;
    padding-top:15px;
    }
}
@media only screen and (min-width:768px){
    .working {
    padding-top:40px;
    }
    .contents {
    width:25%;
    margin:0 auto;
    }
    .columntab {
    float:none;
    margin-right: 0%;
    }
    .container {
    display:flex;
    padding:10px 15px 5px 10px;
    }
    .curation {
    margin-left:0%;
    }
    .active {
    float:none;
    }
    .column1 {
    float: none;
    }
    .description {
    width:80%;
    padding-top:10px;
    margin:0 auto;
    }
    .description p {
    min-height: 152px;
    }
    .dynamicImage {
    width:80%;
    margin:0 auto;
    padding-top:15px;
    }
}
@media only screen and (min-width:1024px){
    .working {
    padding-top:40px;
    }
    .contents {
    width:80%;
    margin:0 auto;
    display: -webkit-box;
    }
    .columntab {
    float:none;
    margin-right: 1.5%;
    }
    .container {
    display:flex;
    padding:10px 15px 5px 10px;
    }
    .curation {
    margin-left:0%;
    }
    .active {
    float:none;
    }
    .column1 {
    float: left;
    }
    .description {
    width:45%;
    padding-top:70px;
    }
    .description p {
    min-height: 220px;
    }
    .dynamicImage {
    width:50%;
    text-align: center;
    padding-top:15px;
    padding-left:32px;
    }
}
@media only screen and (min-width:1200px){
    .working {
    padding-top:103px;
    }
    .contents {
    width:1047px;
    margin:0 auto;
    display: -webkit-box;
    }
    .columntab {
    float:none;
    margin-right: 5.3%;
    }
    .container {
    display:flex;
    padding:15px 15px 10px 20px;
    }
    .curation {
    margin-left:0%;
    }
    .active {
    float:none;
    }
    .column1 {
    float: left;
    }
    .description {
    width:45%;
    padding-top:70px;
    }
    .description p {
    min-height: 220px;
    }
    .dynamicImage {
    width:50%;
    text-align: center;
    padding-top:15px;
    padding-left:45px;
    }
}
/* @media only screen and (min-width:1400px) {
    .columntab {
    float:none;
    margin-right: 6.8%;
    }
} */
</style>
