<template>
<div class="footer">
    <div class="contents">
        <div class="column logo">
            <img src="@/assets/Images/Logo-1.png" alt="test">
            <p><span>NU</span>CINEMA</p>
        </div>
        <div class="column links">
            <p id="follow" style="">Follow Us</p>
            <a id="twitter" href="https://twitter.com/mobiotics?lang=en" aria-label="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/" aria-label="youtube"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.facebook.com/mobiotics" aria-label="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/?hl=en" aria-label="instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="column language">
            <p>English(United Kingdom)</p>
        </div>
        <div class="copyright">
            <p>@NuCinema 2019</p>
        </div>
    </div>   
</div>
</template>

<script>
export default {
    data(){
        return {

        }
    }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../assets/Fonts/ProductSansRegular.ttf");
  }
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
  @font-face {
    font-family: GothamRoundedBold;
    src: url("../../assets/Fonts/GothamRoundedBold_21016.ttf");
  }
  p {
  font-family: ProductSansRegular;
  }
.footer {
    margin-top: 40px;
}
.contents {
    width:80%;
    margin:0 auto;
    position:relative;
}
.contents::after {
    content:'';
    display:table;
    clear:both;
}
.links {
    display:-webkit-box;
}
.logo {
    width:8%;
}
.logo img {
    width:100%;
} 
.logo p {
    font-size:13px;
    font-family: GothamRoundedBold;
    color:black;
}
span {
    color:red;
}
i {
    padding:0 3px;
}
#follow p {
    font-size:11px;
    text-decoration:none;
    color:gray;
    font-family: ProductSansRegular;
    letter-spacing: 0.39px;
    margin-top:0px;
    margin-bottom:0px;
}
.links a {
    font-size:11px;
    text-decoration:none;
    color:gray;
    font-family: ProductSansRegular;
    letter-spacing: 0.39px;
}
p {
    margin-top:2px;
    font-size:11px;
    color:gray;
    font-family: ProductSansRegular;
    letter-spacing: 0.39px;
}
#twitter {
    padding-left: 16px;
}
@media only screen and (min-width:300px){
    .column {
        float: none;
    }
    .links {
        position:unset;
    }
    .language {
        position:unset;
    }
    .copyright {
        position:unset;
    }
    #follow p {
        padding-left: 0px;
    }
}
@media only screen and (min-width:768px){
    .column {
        float: left;
    }
    .links {
        position:absolute;
        left:15%;
    }
    .language {
        position:absolute;
        right:0%;
    }
    .copyright {
        position:absolute;
        bottom:16%;
        right:2%;
    }
    #follow p {
        padding-left: 30px;
    }
}
@media only screen and (min-width:1024px){
    .column {
        float: left;
    }
    .links {
        position:absolute;
        left:15%;
    }
    .language {
        position:absolute;
        right:0%;
    }
    .copyright {
        position:absolute;
        bottom:16%;
        right:2%;
    }
    #follow p {
        padding-left: 30px;
    }
}
@media only screen and (min-width:1200px){
    .column {
        float: left;
    }
    .links {
        position:absolute;
        left:15%;
    }
    .language {
        position:absolute;
        right:0%;
    }
    .copyright {
        position:absolute;
        bottom:16%;
        right:2%;
    }
    #follow p {
        padding-left: 30px;
    }
}
</style>

