<template>
    <div class="main-footer">
        <Footer></Footer>
    </div>
</template>

<script>
import Footer from './Footer.vue'

export default {
    data(){
        return {

        }
    },
    components:{
        'Footer': Footer
    }
}
</script>

<style scoped>
.main-footer {
    padding-bottom: 30px;
    max-width:1500px;
    margin:0 auto;
}
</style>
