<template>
    <div class="body2">
        <Teamparent></Teamparent>
        <Advisorparent></Advisorparent>
        <Gradient></Gradient>
        <SeenParent></SeenParent>
        <Contact></Contact>
    </div>
</template>

<script>
import Teamparent from './Team/Teamparent.vue'
import Advisorparent from './Advisors/Advisorparent.vue'
import SeenParent from './Seen/SeenParent.vue'
import Contact from './Contact.vue'
import Gradient from './Gradient.vue'

export default {
    data(){
        return {

        }
    },
    components: {
        'Teamparent': Teamparent,
        'Advisorparent': Advisorparent,
        'SeenParent': SeenParent,
        'Contact': Contact,
        'Gradient': Gradient
    }
}
</script>

<style scoped>
.body2 {
    position:relative;
    overflow-x: hidden;
    max-width:1500px;
    margin:0 auto;
}
</style>

