<template>
    <div class="contact" id="contact">
        <div class="reach">
            <div class="message">
                <p id="question">Any question? Reach out to us and we’ll get back to you shortly.</p>
                <p id="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+91 9995534528</span></p>
                <p id="mail"><i class="fa fa-envelope"></i><span>Support@nucinema.com</span></p>
            </div>
            </div>
            <div class="form">
                <form id="valid" @submit.prevent="submitform">
                    <p id="touch">Get in touch</p>
                    <div class="entry">
                    <input type="text" name="yourname" v-model="user.name" placeholder="Your Name"><br>
                    <div class="error">{{ errors.name }}</div>
                    </div>
                    <div class="entry">
                    <input type="text" name="youremail" v-model="user.email" placeholder="Your Email"><br>
                    <div class="error">{{ errors.email }}</div>
                    </div>
                    <div class="entrytextarea">
                    <textarea rows="4" columns="50" v-model="user.message" placeholder="Your Message"></textarea><br>
                    <div class="error">{{ errors.message }}</div>
                    </div>
                    <button type="submit" class="button">SUBMIT</button>
                </form>
            </div>
    </div>
</template>

<script>
export default {
    data(){
        
        return {
            user:{
                name: null,
                email: null,
                message: null
            },
            valid: true,
            success: false,
            errors: {},
            message: null 
        }
    },
    methods:{
        submitform(){
            console.log("submitted")
            this.errors = {}
            const validateName = name => {
            if (!name) {
                return { valid: false, error: "This field is required" };
            }
                return { valid: true, error: null };
                
            };
            const validateEmail = email => {
            if (!email) {
                return { valid: false, error: "This field is required" };
            }
            if (!email.match(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
                return { valid: false, error: "Please, enter a valid email." };
            }
                return { valid: true, error: null };
                
            };
            const validateMessage = message => {
            if (!message) {
                return { valid: false, error: "This field is required" };
            }
                return { valid: true, error: null };
            
            };
            const validName = validateName(this.user.name);
                this.errors.name = validName.error;
            if (this.valid) {
                this.valid = validName.valid
            }
            const validEmail = validateEmail(this.user.email);
			    this.errors.email = validEmail.error;
            if (this.valid) {
                this.valid = validEmail.valid
            }
            const validMessage = validateMessage(this.user.message);
                this.errors.message = validMessage.error;
            if (this.valid) {
                this.valid = validMessage.valid
            }
            this.user.name = '',
            this.user.email = '',
            this.user.message = ''
        }
    }
}

</script>

<style scoped>
@font-face {
font-family: ProductSansRegular;
src: url("../../assets/Fonts/ProductSansRegular.ttf");
}

p {
font-family: ProductSansRegular;
}
.contact {
    width: 100%;
    float: left;
    padding-top:25px;
    overflow:hidden;
}
.reach {
    background-image: linear-gradient(#f5515f,#9f041b);
}
.entry {
    margin-bottom: 24px;
    position: relative;
}
.entrytextarea {
    margin-bottom: 20px;
    position: relative;
}
.error {
    font-family: ProductSansRegular;
    font-size:10px;
    color:red;
    position: absolute;
}
.message p {
    color:white;
}
.form {
    float: right;
    background:white;
    border-radius:3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input[type=text] {
    padding: 10px 10px;
    color: #4A4A4A;
}
input {
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size:10px;
}
textarea {
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size:10px;
    resize: none;
}
.button {
    border-radius: 4px;
    border: 1px solid lightgray;
    background-image: linear-gradient(#f5515f,#9f041b);
    color: white;
    font-size: 10px;
    padding:9px;
    cursor: pointer;
}
.button:hover {
    background-image:linear-gradient(#eb6e71,#870306)
}
@media screen and (min-width: 300px){
    .contact {
        height:340px;
    }
    .reach {
        height:250px;
    }
    .message {
        width: 42%;
        position: relative;
        top: 20px;
        left:6px;
    }
    .error {
        margin-left: 20px;
    }
    span {
        padding-left:2px;
    }
    #question {
        width:70%;
        font-size:15px;
    }
    #phone {
        font-size: 10px;
        padding-left: 4px;
        padding-top: 20px;
    }
    #mail {
        padding-left: 4px;
        font-size: 10px;
    }
    .form {
        position:relative;
        top:-241px;
        width: 50%;
        left:-25px;
        height:306px;
    }
    #touch {
        color: #4A4A4A;
        padding-left: 19px;
        font-size:15px;
    }
    input {
        width:62%;
        margin-left: 20px;
    }
    input:focus {
        outline:0;
    }
    textarea {
        width:62%;
        margin-left: 20px;
        padding: 10px 10px
    }
    textarea:focus {
        outline:0;
    }
    button{
        width:40%;
        height:8%;
        margin-left:19px;
        padding:9px;
    }
    button:focus {
        outline:0;
    }
}
@media screen and (min-width: 768px){
    .contact {
        height:450px;
    }
    .reach {
        height:319px;
    }
    .message {
        width: 42%;
        top: 71px;
        position:relative;
        left:89px;
    }
    span {
        padding-left:15px;
    }
    #question {
        width: 56%;
        font-size: 20px;
    }
    #phone {
        font-size: 12px;
        padding-left: 31px;
        padding-top: 20px;
    }
    #mail {
        padding-left: 31px;
        font-size: 12px;
    }
    .form {
        position:relative;
        left: -93px;
        width: 41%;
        height: 380px;
        top: -278px;
    }
    #touch {
        color: #4A4A4A;
        padding-left: 41px;
        padding-top: 23px;
        font-size:20px;
    }
    .error {
        margin-left:37px;
    }
    input {
        width:70%;
        margin-left: 37px;
    }
    textarea {
        width:70%;
        margin-left: 37px;
        padding: 10px 10px;
        height:71px;
    }
    button{
        margin-left: 37px;
        width: 25%;
        height: 8%;
        position: relative;
        top: 9px;
        padding:9px;
    }
    }
@media screen and (min-width: 1024px){
    .contact {
        height:450px;
    }
    .reach {
        height:319px;
    }
    .message {
        width: 42%;
        top: 71px;
        position: relative;
        left: 136px;
    }
    span {
        padding-left:15px;
    }
    .error {
        margin-left: 32px;
    }
     #question {
        width: 56%;
        font-size: 20px;
    }
    #phone {
        font-size: 12px;
        padding-left: 31px;
        padding-top: 20px;
    }
    #mail {
        padding-left: 31px;
        font-size: 12px;
    }
    .form {
        position:relative;
        left: -182px;
        height: 380px;
        width: 34%;
        top: -278px;
    }
    #touch {
        color: #4A4A4A;
        padding-left: 41px;
        padding-top: 23px;
        font-size:20px;
    }
    input {
        width:70%;
        margin-left: 32px;
    }
    textarea {
        width:70%;
        margin-left: 32px;
        padding: 10px 10px;
        height:71px;
    }
    button{
        margin-left: 32px;
        width: 25%;
        height: 8%;
        position: relative;
        top: 9px;
        padding:9px;
    }
}
@media screen and (min-width: 1200px){
    .contact {
        height:450px;
    }
    .reach {
        height:319px;
    }
    .message {
        width: 42%;
        top: 71px;
        position: relative;
        left: 136px;
    }
    span {
        padding-left:15px;
    }
    .error {
        margin-left: 41px;
    }
     #question {
        width: 56%;
        font-size: 20px;
    }
    #phone {
        font-size: 12px;
        padding-left: 31px;
        padding-top: 20px;
    }
    #mail {
        padding-left: 31px;
        font-size: 12px;
    }
    .form {
        position:relative;
        left: -257px;
        height: 380px;
        width: 348px;
        top: -278px;
    }
    #touch {
        color: #4A4A4A;
        padding-left: 41px;
        padding-top: 23px;
        font-size:20px;
    }
    input {
        width:70%;
        margin-left: 41px;
    }
    textarea {
        width:70%;
        margin-left: 41px;
        padding: 10px 10px;
        height:71px;
    }
    button{
        margin-left: 41px;
        width: 25%;
        height: 8%;
        position: relative;
        top: 9px;
        padding:9px;
    }
}
@media only screen and (min-width:1350px){
    .form {
    position:relative;
    left: -283px;
    height: 380px;
    width: 378px;
    top: -278px;
    }
}
</style>
