<template>
  <div id="app" @click="closeLists($event)">
    <Header></Header>
    <Slider></Slider>
    <Body1></Body1>
    <Body2></Body2>
    <MainFooter></MainFooter>
  </div>
</template>

<script>
import { eventBus } from '@/main'
// import Header from './components/HeaderPart/Header.vue'
// import Slider from './components/SliderPart/Slider.vue'
// import Body1 from './components/Body1/Body1.vue'
// import Body2 from './components/Body2/Body2.vue'
// import MainFooter from './components/FooterPart/MainFooter.vue'


export default {
  name: 'app',
  data () {
    return {
      
    }
  },
  components: {
    'Header': () => import(/* webpackChunkName: header-com */'./components/HeaderPart/Header.vue'),
    'Slider': () => import('./components/SliderPart/Slider.vue'),
    'Body1':  () => import('./components/Body1/Body1.vue'),
    'Body2':  () => import('./components/Body2/Body2.vue'),
    'MainFooter': () => import('./components/FooterPart/MainFooter.vue')
  },
  methods: {
    closeLists(event){
      console.log("two", event.target.id);
      if (event.target.id !== "nav-icon")
        eventBus.$emit("closeitems", false);      
    }
  }
}
</script>

<style scoped>

</style>
