<template>
    <div class="team" id="team">
        <h2>MEET OUR CORE TEAM</h2>   
        <div class="people">
            <div class="person">
            <div class="cards">
                <div class="image">
                    <v-lazy-image :src="rajeev" :src-placeholder="rajeev" alt="test"/>
                </div>
                <div class="details">
                    <p id="name"><b>RAJEEV RAVI</b></p>
                    <p id="occupation">Creative Head</p>
                </div>
            </div>
            </div>
            <div class="person">
            <div class="cards">
                <div class="image">
                    <v-lazy-image :src="ajith" :src-placeholder="rajeev" alt="test"/>
                </div>
                <div class="details">
                    <p id="name"><b>AJITHKUMAR</b></p>
                    <p id="occupation">Operation Head</p>
                </div>
            </div>
            </div>
            <div class="person">
            <div class="cards">
                <div class="image">
                    <v-lazy-image :src="anuraj" :src-placeholder="rajeev" alt="test"/>
                </div>
                <div class="details">
                    <p id="name"><b>ANURAJ ENNAI</b></p>
                    <p id="occupation">Admin</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>


export default {
    data(){
        return {
            rajeev:require("@/assets/Images/RajeevRavi.webp"),
            ajith:require("@/assets/Images/Ajithkumar.webp"),
            anuraj:require("@/assets/Images/anu.webp")
        }
    }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../../assets/Fonts/ProductSansRegular.ttf");
  }
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
  p {
  font-family: ProductSansRegular;
  }
.team {
    padding-top: 35px;
    width:100%;
}
h2 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: HelveticaNeueBlackCond;
}
.people {
    width:80%;
    margin:0 auto;
}
.people::after {
    content:'';
    display: table;
    clear: both;
}

.cards:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: white;
}
.image {
    width:64%;
    margin:0 auto;
} 
.image img {
    width: 100%;
    border-radius: 100%;
}
.details {
    width:64%;
    margin:0 auto;
    text-align: center;
}
#name {
    color:#4A4A4A;
    font-size:13px;
}
#occupation {
    color:#4a4a4a9c;
    font-size:13px;
}
.cards {
    padding-top:15px;
    padding-bottom:5px;
}
@media only screen and (min-width:300px){
    .person {
    padding:0 50px;
    min-height:150px;
    }
}
@media only screen and (min-width:768px){
    .person {
    width:25%;
    float:left;     
    padding:0 24px;
    min-height:220px;
    }
}
@media only screen and (min-width:1024px){
    .person {
    width:25%;
    float:left;
    padding:0 34px;
    min-height:240px;
    }  
}
@media only screen and (min-width:1200px){
    .person {
    width:22%;
    float:left;
    padding:0 5.5%;
    min-height:240px;
    }
}
@media only screen and (min-width:1400px){
    .person {
    width:22%;
    float:left;
    padding:0 5.5%;
    min-height:240px;
    }
}
</style>
