<template>
    <div class="cards">
        <div class="image">
            <v-lazy-image v-if="dataprops.image" :src="dataprops.image" :src-placeholder="image1" alt="test"/>
        </div>
        <div class="details">
            <p id="title"><b>{{dataprops.name}}</b></p>
            <p id="genre">{{dataprops.genre}}</p>
            <p id="actors">
            <b>{{dataprops.starring[0]}}:</b>
                <span>{{dataprops.starring[1]}}</span>
            </p>
            <p id="director">
                <b>{{dataprops.director[0]}}</b>
                <span>{{dataprops.director[1]}}</span>
                </p>
            <p id="brief">{{dataprops.description}}</p>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            image1: require("@/assets/Images/Img1.webp")
        }
    },
     props: ["dataprops"],
  mounted() {
    console.log("data", this.dataprops);
  }
}
</script>

<style scoped>
@font-face {
    font-family: ProductSansRegular;
    src: url("../../../assets/Fonts/ProductSansRegular.ttf");
  }
  
p{
    font-size: 9px;
    font-family: ProductSansRegular;
    }

.cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:4px;  
}
.cards:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}
.image img{
    width:100%;
    height:100%;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}  
.image {
    width:35%;
    height:100%;
    float: left;
}
.details {
    padding-left:10px;
    float:left;
    width:60%;
}
.details #title {
    font-size:15px;
    letter-spacing: 1.39px;
}
.details #actors {
    width:189px;
    font-size:8.5px;
    color: #88888D;
}
.details #director {
    font-size:8.5px;
    position: relative;
    top: -7px;
    color: #88888D;
}
.details #genre {
    color: #88888D;
}
.details #brief {
    color: #88888D;
}
@media only screen and (min-width:300px){
    .cards {
    width: 95%;
    height:149px;
    margin:10px 13px 24px 10px;
    }
}
@media only screen and (min-width:768px){
    .cards {
    width: 46%;
    float: left;
    height:149px;
    margin:10px 13px 24px 13px;
    }
}
@media only screen and (min-width:1024px){
    .cards {
    width: 39%;
    float: left;
    height:149px;
    margin:10px 36px 24px 42px;
    }
}
@media only screen and (min-width:1200px){
    .cards {
    width: 31%;
    float: left;
    height:149px;
    margin:10px 1% 24px 13px;
    }
}


</style>
