<template>
    <div class="content">
        <h2>ANNOUNCED CONTENT</h2>
        <div class="movie-adjust">
            <div class="movies" v-for="(movie, index) in movies" :key="index"> 
            <ContentChild :dataprops="movie"></ContentChild> 
            </div>
        </div>
    </div>
</template>

<script>
import ContentChild from './ContentChild.vue'

export default {
    data(){
        return {
            movies: undefined
        }
    },
    components: {
        'ContentChild': ContentChild
    },
    mounted() {
        this.movies = [
                {
                    image:require('@/assets/Images/ArtboardCopy2.webp'),
                    name: 'Deadpool(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal, Angira Dhar, Alankrita Sahai'],
                    director:['Director:','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:require('@/assets/Images/12.webp'),
                    name: 'Twin Peaks(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal, Angira Dhar, Alankrita Sahai'],
                    director:['Director:','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:require('@/assets/Images/13.webp'),
                    name: 'Annihilation(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal, Angira Dhar, Alankrita Sahai'],
                    director:['Director:','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:require('@/assets/Images/Artboard.webp'),
                    name: 'Moonlight(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal, Angira Dhar, Alankrita Sahai'],
                    director:['Director:','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:require('@/assets/Images/ArtboardCopy2.webp'),
                    name: 'Baby Driver(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal, Angira Dhar, Alankrita Sahai'],
                    director:['Director:','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                },
                {
                    image:require('@/assets/Images/12.webp'),
                    name: 'The Nun(2018)',
                    genre: 'Action, Comedy',
                    starring: ['Starring','Vicky Kaushal, Angira Dhar, Alankrita Sahai'],
                    director:['Director:','Anubhav Sinha'],
                    description: 'Foul-mouthed mutant mercenary Wade Wilson, brings together a team of fellow …'
                }

            ]
    }
}
</script>

<style scoped>
  @font-face {
  font-family: HelveticaNeueBlackCond;
    src: url("../../../assets/Fonts/HelveticaNeueBlackCond.ttf");
  }
.content {
    padding-top:60px;
}
h2 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    margin-top:0px;
    font-family: HelveticaNeueBlackCond; 
}

.movie-adjust::after {
    content:'';
    display:table;
    clear: both;
}
@media only screen and (min-width:768px){
    .movies{
    width:90%;
    margin:0 auto;
    }
}
@media only screen and (min-width:1024px){
    .movies{
    width:80%;
    margin:0 auto;
    }
}
@media only screen and (min-width:1200px){
    .movies{
    width:84%;
    margin:0 auto;
    }
}
</style>
